.dot{
    width:35px;
    height:35px;
    position:absolute;
    background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose2.png);
    background-size: 100% 100%;
  }
  .dot2{
    width:35px;
    height:35px;
    position:absolute;
    background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose.png);
    background-size: 100% 100%;
  }
  .dot3{
    width:35px;
    height:35px;
    position:absolute;
    background: url(http://img.babathe.com/upload/specialDisplay/htmlImage/2019/20190104_rose3.png);
    background-size: 100% 100%;
  }
  #logo{ left:50%; top:50%; position:absolute; border-radius:10px; }

#DiacoDesignLink,#pens{
  color: #fff;
}
